@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
/* font-family: 'Mr Dafoe', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
/* font-family: 'Merienda', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* font-family: 'Anton', sans-serif; */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

code {
  display: inline-block;
}

.last-upgrade {
  display: grid;
  grid-template-columns: 8fr minmax(1px, min-content);
  max-width: 300px;
  position: fixed;
  left: -20px;
  top: 40%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 1.3;
  background-color: rgba(173, 216, 230, 0.89);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  z-index: 10;
  transform: translateX(-220px);
  transition: .3s ease-in transform, .3s ease-in box-shadow;
  overflow: hidden;

  &__tongue {
    background-color: rgba(90, 90, 90, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;

    &--special {
      flex-shrink: 0;
      transform: rotate(-90deg);
      font-size: 18px;
      color: rgb(255, 255, 255);
      background-color: transparent;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(173, 216, 230);
  }

  &--show {
    transform: translateX(0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
  }

  &__list {
    list-style: none;
    list-style-position: 200px;
    margin-left: 25px;
    margin: 20px 20px 20px 25px;

    ::before {
      content: "👍";
      margin-right: 5px;
    }
  }

  &__list-item {
    padding: 5px 0;
  }
}



.navigation-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0px 3px white, 0px 10px 20px 10px rgba(0, 0, 0, 0.548);
  z-index: 10;
}

@media (max-width: 768px) {
  .navigation-container {
    background-color: rgb(0, 0, 0);
    /* pointer-events: none; */
  }
}

/* 
---------------------------------------------
@media (max-width: 768px) {
	.main-navigation__menu--open {
		opacity: 1;
		pointer-events: unset;
		transform: unset;
	} */

/* <nav> */
.navigation {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  /* backface-visibility: visible; */
  backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    padding: 10px 14px;
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.hamburger--size {
  font-size: 40px;
}

@media (max-width: 768px) {
  .hamburger {
    display: unset;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: 0.1s linear background-color;
}

@media (max-width: 768px) {
  .navigation__logo {
    align-self: flex-start;

    /* width: 110px;
        height: 110px; 
        background-color: #fff;
        flex-shrink: 0;
        margin: 10px 0;
        padding: 10px;
        */
  }
}

.navigation__logo-svg {
  width: 60px;
  padding: 5px;
  filter: invert(1);
  transition: 0.3s linear filter;
}

@media (max-width: 768px) {
  .navigation__logo-svg {
    width: 60px;
    /* padding: 0; */
    /* filter: unset */
    /* margin: 20px 0; */
  }
}

.navigation__logo:hover .navigation__logo-svg {
  filter: unset;
}

.navigation__logo:hover {
  background-color: white;
}

/* <ul> */
.navigation-list {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navigation-list {
    /* display: block; */
    flex-direction: column;
    display: none;
  }
}

.navigation-list--open {
  display: flex;
}

/* <li> */
.navigation-list__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
}

@media (max-width: 768px) {
  .navigation-list__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    margin-bottom: 20px;

  }
}


.navigation-list__icon {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  // margin-right: 6px;
  padding: 0 6px;
  filter: contrast(1) grayscale(1);
  transition: 0.2s linear filter;
}

@media (max-width: 768px) {
  .navigation-list__icon {
    /* grid */
    justify-self: end;
    margin-right: 20px;
    filter: grayscale(0);
  }
}

.navigation-list__icon--react {
  width: 30px;
}

/* <a> */
.navigation-list__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: 0.1s linear border-bottom;
}

@media (max-width: 768px) {
  .navigation-list__link {
    justify-self: start;
  }

  .navigation-list__link--span {
    /* grid */
    justify-self: center;
    grid-column: 1 / 3;
  }
}

.navigation-list__link--special {
  font-family: "Merienda", cursive;
  font-size: 20px;
  padding-right: 5px;
}

.navigation-list__item:hover .navigation-list__link {
  border-bottom: 2px solid red;
}

.navigation-list__item:hover .navigation-list__icon {
  filter: unset;
}

.main-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center,
      rgba(255, 255, 255, 0) 30%,
      rgb(0, 0, 0) 80%),
    url(../img/frontend.jpg);
  // background-image: url(../img/frontend.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

@media (max-width: 768px) {
  .header {
    background: radial-gradient(ellipse at center,
        rgba(255, 255, 255, 0) 30%,
        rgba(0, 0, 0, 0.685) 80%),
      url(../img/frontend.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
}

.tech-visualization {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.tech-visualization__main-header {
  margin-top: 120px;
  max-width: 900px;
  font-family: "Anton", sans-serif;
  font-size: 48px;
  color: white;
  padding: 0 50px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .tech-visualization__main-header {
    font-size: 36px;
    line-height: 1.5;
  }
}

.main-header-emoji {
  font-size: 58px;
  letter-spacing: -5px;
  font-weight: normal;
  line-height: 0;
  vertical-align: -6px;
}

.tech-visualization__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tech-visualization__icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 140px;
  height: 140px;
  margin: 10px;
  border: 50%;
  border-radius: 40px;
  box-shadow: 5px 5px black, -5px -5px black;
  overflow: hidden;
  transition: 0.3s ease-in-out transform;
}

/* img */
.tech-visualization__icon-img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  filter: saturate(0.1);
  transition: 0.2s;
}

@media (max-width: 768px) {
  .tech-visualization__icon-img {
    filter: saturate(1);
  }
}

/* ul */
.tech-visualization__list {
  transition: 5s linear transform;
}

/* li */
.tech-visualization__icon-box:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px rgb(167, 36, 36), -5px -5px black;
}

.tech-visualization__list:hover .tech-visualization__icon-box:not(:hover) {
  transform: scale(0.9);
  filter: blur(2px);
}

@media (max-width: 768px) {
  .tech-visualization__list:hover .tech-visualization__icon-box:not(:hover) {
    transform: unset;
    filter: unset;
  }
}

.tech-visualization__icon-box:hover .tech-visualization__icon-img {
  filter: unset;
}

.html-section {
  max-width: 1050px;
  text-align: center;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  padding: 0 30px;
}

#html,
#css,
#js::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.tech-part {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  padding: 0 20px;
}

.tech-part__art {
  display: grid;
  justify-items: center;
}

.tech-part__icon {
  width: 140px;
  display: block;
}

.tech-part__description {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.tech-part__description-art {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  hyphens: manual;

}

/*   
.tech-part__description-art~.tech-part__description-art {
    margin-bottom: 30px;

} */

.tech_part__columns {
  column-count: 2;
  column-gap: 80px;
  column-rule: 1px solid rgb(56, 56, 56);
}

@media (max-width: 768px) {
  .tech_part__columns {
    column-count: unset;
    column-gap: unset;
  }
}

.tech-part__header {
  font-size: 42px;
}

.tech-part__title-art {
  font-size: 30px;
  text-align: center;
  column-span: all;
}